
#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.name-shadow-teal {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
               0 0 5px rgba(13, 148, 136, 0.7),
               0 0 10px rgba(13, 148, 136, 0.5);
}

.image-container {
  position: relative;
  overflow: hidden;
}

.avatar-image {
  display: block;
  width: 100%;
  height: auto;
}

.image-blend {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%; /* Increased for a more noticeable effect */
  background: linear-gradient(
    to top,
    rgba(26, 32, 44, 1) 0%, /* Matches the 'from-gray-900' color */
    rgba(45, 55, 72, 0.8) 50%, /* Matches the 'to-gray-800' color with some transparency */
    transparent 100%
  );
  pointer-events: none;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
